
nav {
  display: flex;
  width: 100%;
}

.navbutton {
  cursor: pointer;
  background: var(--main-col);
  color: #fff !important;
  font-weight: bold;
  padding: 8px;
  text-justify: none;
}

.navbutton > * {
  vertical-align: center;
}

.navbutton:active {
  transform: translateY(3px);
}

.navbutton:hover {
  background: var(--main-col-highlight);
}

.home {
  background: none;
  color: #000 !important;
}

.home:hover {
  background: #ccc;
}

.prev {
  padding-left: 20px;
  margin-right: 2em;
  clip-path: polygon(
    20px 0,
    100% 0,
    100% 100%,
    20px 100%,
    0 50%
  );
}

.next {
  padding-right: 20px;
  margin-left: 2em;
  clip-path: polygon(
    calc(100% - 20px) 0,
    0 0,
    0 100%,
    calc(100% - 20px) 100%,
    100% 50%
  );
}

.next {
  margin-left: auto;
}